
@media screen and (max-width: 768px) {
   .sides{
      margin: 0px 2%;
   }
   /* header */
   .headerSection{   
      background: transparent;
      background: #182141;
   }
   .header .forcollapse{
      visibility: visible;
      position: relative;
   }
   .header .forcollapse .collapseBut{
      background: none;
      border: 1px solid #F2B636;
      color: white;
      padding: 8px 10px;
      font-size: 20px;
   }

   .header .nav-items{
      visibility: hidden;
      position: absolute;
      display: none;
   }

   .header .nav-items-mobile{
      display: block;
      background: #F2B636;
      list-style-type: none;
      padding: 10px 0px; 
      width: 200px;
      position: absolute;
      top: 90px;
      left: 0px;
      right: 5px;
      margin-left:auto;
      border-radius: 5px;
      transition: all 0.3s ease-in-out 0s;
   }
   .dropdown{
      ul{
         width: 100%;
         position: relative;
         background: #c0912c;
         backdrop-filter: blur(20px);
         border-radius: 0px;
      }
      .opened{
         visibility: visible;
      }
      .closed{
         visibility: hidden;
         display: none;
      }
   }
   .dropdown ul a{
      border-radius: 0px;
   }
   .dropdown .icon{
      color: gainsboro;
   }
   /* header section ends here */

   /* 'hero section here */
   .hero-box>div{
      height: fit-content;
      padding: 80px 0px;
   }
   .hero-box .intro{
      width: fit-content;
   }
   .hero-box>div h1{
      font-size: 60px;
      line-height: 60px;
   }
   .intro .cta{
      width: 100%;
   }
   .hero-box .intro a{
      padding: 15px 10px;
      font-size: 16px;
   }
   .hero-box .cert form{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
   }
   .cert form button{
      padding: 10px 15px;
   }
   /* hero sections ends here */

   /* courses section start */
   .courseSection{
      padding: 30px 0px 30px 0px;
   }
   .courseSection .inner{
      flex-direction: column;
   }
   .courseSection .inner .eachitem{
      width: fit-content;
   }
   /* courses section ends */

   /* testimonial section */
   .carousel>button{
      padding: 10px;
      .ca-icon{
         /* background: rebeccapurple; */
         width: 20px;
         height: 20px;
      }
   }
   .test-box .test-each{
      width: fit-content;
   }
   .test-each .test-img{
      width: 60px;
   }
   
   /* testimony ends section */

   
   /* STUDENT LOGIN STARTS HERE */
   .studentlog{
      background-size: cover;
      background-position: center center;
      overflow-y: scroll;
   }
   .studentlog .formsec{
      width: 100%;
      padding: 50px 20px;
   }
   /* STUDENT LOGIN ENDS HERE */

    /* footer section */
    .inner-footer{
      flex-direction: column;
   }
   .inner-footer .eachitem{
      margin: 0px;
      /* background-color: gold; */
      width: 60% !important;
   }
   /* footer section ends here */
}